package entities

import (
	"{{.Module}}/domain/types"
	"time"
)

type {{.Entity}} struct {
	ID          types.ID     `json:"id" gorm:"primaryKey;autoIncrement"`
	Name        string       `json:"name" gorm:"uniqueIndex;size:100;not null"`
	Status      *bool        `json:"status" gorm:"type:boolean;default:false"`
	CreatedBy   types.ID     `json:"created_by" gorm:"column:created_by;type:char(36)"`
	CreatedAt   time.Time    `json:"created_at" gorm:"autoCreateTime"`
	UpdatedAt   time.Time    `json:"updated_at" gorm:"autoUpdateTime"`
}

func ({{.Entity}}) TableName() string {
	return "app_{{.LowerEntity}}s"
}

type {{.Entity}}Repository interface {
	FindAll(paginationParams types.PaginationParams) ([]{{.Entity}}, int, error)
	FindByID(id types.ID) (*{{.Entity}}, error)
	Create({{.LowerEntity}} *{{.Entity}}) (*{{.Entity}}, error)
	Update(id types.ID, {{.LowerEntity}} *{{.Entity}}) (*{{.Entity}}, error)
	Delete(id types.ID) error
}
