package routes

import (
	"{{.Module}}/di"

	"github.com/gin-gonic/gin"
	"gorm.io/gorm"
)

func {{.Entity}}Router(r *gin.RouterGroup, db *gorm.DB) {
	// {{.Entity}} handler initialization
	handler := di.Initialize{{.Entity}}Handler(db)

	// {{.Entity}} routes
	r.GET("/{{.DirName}}s", handler.FindAll)
	r.GET("/{{.DirName}}s/:id", handler.FindByID)
	r.POST("/{{.DirName}}s", handler.Create)
	r.PUT("/{{.DirName}}s/:id", handler.Update)
	r.DELETE("/{{.DirName}}s/:id", handler.Delete)
	r.DELETE("/{{.DirName}}s/batch", handler.BatchDelete)
}
